.summary {
  width: 100%;
  height: 130px;
  color: #ffffff;
  border-radius: 5px;
  display: grid;
  align-items: center;

  .title-content {
    padding: 15px 15px 10px 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;

    .general-title {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .summary-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-top: #ffffff solid 1px;

    .title {
      font-size: 18px;
    }

    .value {
      font-size: 18px;
      font-weight: bold;
    }

    .value-info {
      display: flex;
      height: 100%;
      align-items: center;

      .positive-info,
      .negative-info {
        width: 5px;
        height: 40px;
      }

      .icon {
        width: 30px;
        height: 30px;
        margin: 0 5px;
        font-size: 32px;
      }
    }
  }
}

.positive-backgroud {
  background-color: #2a7bea;
}

.negative-backgroud {
  background-color: red;
}