.earning {
  height: 100vh;
  background-color: #f3f3f3;

  .earning-content {
    padding: 50px;

    .content {
      display: flex;

      .list {
        width: 50%;
        height: calc(100vh - 230px);
        overflow: hidden;

        .list-content {
          padding-top: 15px;

          .earning-list-title {
            justify-content: space-between;
            display: flex;
          }
        }
      }

      .infos {
        width: 50%;
        height: calc(100vh - 230px);
      }

      .info {
        height: 50%;
        padding: 15px 0 15px 15px;
      }

      .month {
        margin-top: 33px;
        height: calc(100vh - 685px);
        padding: 15px 0 0 15px;
      }
    }
  }
}