.earning {
  height: 100vh;
  background-color: #f3f3f3;

  .earning-content {
    padding: 50px;

    .content {
      display: flex;

      .list {
        width: 50%;
        height: calc(100vh - 245px);
        padding: 15px 15px 0 0;
      }

      .infos {
        width: 50%;
        height: calc(100vh - 230px);
      }

      .info {
        width: 100%;
        height: 50%;
        background: green;
      }
    }
  }
}
