.table {
  height: 633px;
  background: #fff;
}

.mdc-button {
  background-color: #0500f5 !important;
  color: #fff !important;
}

mat-paginator {
  border-top: 1px solid #f5f5f5;
  align-self: flex-end;
}

.title {
  display: flex;
  justify-content: space-between;
}

.center {
  text-align: center;
  justify-content: center;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid #f5f5f5;
  border-top: 1px solid #f5f5f5;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-bottom: 2px solid #0500f5;
  border-top: 2px solid #0500f5;
}

.mat-mdc-row .mat-mdc-cell:first-child {
  border-left: 2px solid transparent;
}

.mat-mdc-row:hover .mat-mdc-cell:first-child {
  border-left: 2px solid #0500f5;
}

.mat-mdc-row .mat-mdc-cell:last-child {
  border-right: 2px solid transparent;
}

.mat-mdc-row:hover .mat-mdc-cell:last-child {
  border-right: 2px solid #0500f5;
}

.container-value {
  display: flex;
  align-items: center;

  .value {
    font-weight: 500;
    font-size: 16px;
  }
}

.possitive-info {
  background: #00bf5c;
  width: 4px;
  height: 30px;
  margin-right: 5px;
}

.possitive-icon {
  color: #00bf5c;
  font-size: 20px;
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
