.stock-return {
  height: 100%;
  display: flex;

  .stock-return-content {
    width: 100%;
    display: flex;
    align-items: end;

    .info {
      font-size: 20px;
      display: flex;
      justify-content: space-between;
    }

    mat-divider {
      margin: 10px 0;
    }

    .display {
      width: 100%;
      display: flex;

      .positive-backgroud {
        background-color: #2a7bea;
      }

      .negative-backgroud {
        background-color: red;
      }

      .neutral-background {
        background-color: #5b5c5e;
      }

      .display-content {
        width: 50%;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        height: 60px;
        align-items: center;
        padding: 0 15px;

        .align-values {
          display: ruby;
        }

        .title {
          font-size: 18px;
          width: 75px;
        }

        .percentage {
          font-size: 16px;
        }

        .value {
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
  }
}