.item-list {
  width: 100%;
  height: 65px;
  background: #ffffff;
  margin: 15px 0;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid transparent;
}

.item-list:hover {
  border: 2px solid #0500f5;
}
