.stock-table {
  height: 100vh;
  background-color: #f3f3f3;
}

.drawer-container {
  width: 600px;
  height: 100vh;
  background: #f3f3f3;
}

.active-title {
  height: 100px;
  background: #ffffff;
  display: flex;
  align-items: center;
  padding: 20px 40px;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

p {
  color: #989898;
  margin: 0;
}

.stock-info {
  width: 50%;
}

.value-info {
  border-left: 2px solid #f3f3f3;
  padding: 20px;
  display: flex;
}

.negative {
  color: red;
}

.positive {
  color: #2a7bea;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  font-size: 53px;
}

.value-container {
  font-weight: 500;
  font-size: 21px;
  align-items: center;
  display: grid;
}

.stock-values,
.return-value {
  padding: 20px 50px;
}

.return-value {
  padding-top: 0;
}

mat-form-field {
  width: 100%;
}

.info {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

mat-divider {
  margin: 10px 0;
}

.display {
  margin-top: 50px;
  font-size: 25px;
}

.display-positive {
  border-bottom: 2px solid #2a7bea;
}

.display-negative {
  border-bottom: 2px solid red;
}

.display-container-positive {
  background-color: #2a7bea;
}

.display-container-negative {
  background-color: red;
}

.display-container {
  margin-left: 26%;
  color: #ffffff;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total {
  font-size: 18px;
}

.percentage {
  font-size: 16px;
}

.value {
  font-weight: 500;
}

.action-buttons {
  padding: 25px 50px 0 50px;
  display: flex;
  justify-content: end;

  button {
    margin-left: 10px;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.stock-table-content {
  padding: 50px;
}

.stock-list {
  width: 100%;
  height: calc(100vh - 155px);
  margin-top: 15px;
}
