.stock-historic {
  padding: 35px 35px 0 35px;
}

h1 {
  margin-top: 0;
}

.table {
  height: 633px;
  background: #fff;
  display: grid;
}

.stock-historic-title {
  display: flex;
  justify-content: space-between;
}
