.dashboard {
  height: 100vh;
  background-color: #f3f3f3;

  .dashboard-content {
    padding: 50px;

    h1 {
      margin: 0;
      font-size: 25px;
      color: black;
    }
  }
}

.table {
  height: 633px;
  background: #fff;
  display: grid;
}

.stock-historic-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
