.table {
  height: 633px;
  background: #fff;
  display: grid;
}

mat-paginator {
  border-top: 1px solid #e6e6e6;
  align-self: flex-end;
}

.active-name {
  font-size: 18px;
  font-weight: bold;
}

.active-description {
  color: #989898;
}

.outstanding-value {
  font-weight: 600;
}

.negative {
  color: red;
}

.positive {
  color: #2a7bea;
}
