.item {
  background: #ffffff;
  margin: 15px 0;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  border: 2px solid transparent;
}

.item:hover {
  border: 2px solid #0500f5;
}

.info-div {
  width: 150px;
  display: grid;
}

.title {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  font-size: 20px;
}

.column-title {
  display: flex;
  align-items: flex-end;
}

.description {
  color: #989898;
}

.value-div {
  width: 150px;
  font-size: 16px;
  display: grid;
}

.value {
  font-weight: bold;
}

.negative {
  color: red;
}

.positive {
  color: #2a7bea;
}

.positive-info,
.negative-info {
  width: 5px;
  height: 40px;
}

.positive-info {
  background-color: #2a7bea;
}

.negative-info {
  background-color: red;
}

.return-container {
  display: flex;
  align-items: center;
}

.return-value-container {
  display: grid;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  font-size: 32px;
}
